[Desktop Entry]
Name=Spotify TUI
Exec=spt
Comment=Spotify for the terminal written in Rust
Icon=${SNAP}/meta/gui/spt.png
Type=Application
Terminal=true
StartupNotify=false
Categories=Music;
